{% extends 'base.html' %}
{% load form_tags %}

{% block title %}
Cadastrar Novo Cliente
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Cadastrar Novo Cliente</h1>
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="cpf" class="form-label">CPF:</label>
            {{ form.cpf|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nome_completo" class="form-label">Nome Completo:</label>
            {{ form.nome_completo|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email" class="form-label">E-mail:</label>
            {{ form.email|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="telefone" class="form-label">Telefone:</label>
            {{ form.telefone|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="aves_compradas" class="form-label">Aves Compradas:</label>
            {{ form.aves_compradas|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="data_compra" class="form-label">Data da Compra:</label>
            {{ form.data_compra|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="motivo_compra" class="form-label">Motivo da Compra:</label>
            {{ form.motivo_compra|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="preco_compra" class="form-label">Preço de Compra:</label>
            {{ form.preco_compra|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="notas_adicionais" class="form-label">Notas Adicionais:</label>
            {{ form.notas_adicionais|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Salvar</button>
    </div>
    <div class="col-12 text-center">
        <a href="{% url 'listar_clientes' %}" class="btn btn-link">Voltar para a lista</a>
    </div>
</form>
{% endblock %}