{% extends 'base.html' %}
{% load form_tags %}

{% block title %}
Cadastrar Nova Ave
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Cadastrar Nova Ave</h1>
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="id_chip" class="form-label">ID da Ave (Chip):</label>
            {{ form.id_chip|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nome" class="form-label">Nome/Código da Ave:</label>
            {{ form.nome|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="especie" class="form-label">Espécie:</label>
            {{ form.especie|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="mutacao_genetica" class="form-label">Mutação Genética:</label>
            {{ form.mutacao_genetica|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="data_nascimento" class="form-label">Data de Nascimento:</label>
            {{ form.data_nascimento|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="data_entrada" class="form-label">Data de Entrada no Plantel:</label>
            {{ form.data_entrada|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="origem" class="form-label">Origem:</label>
            {{ form.origem|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="parceiro_atual" class="form-label">Parceiro Atual:</label>
            {{ form.parceiro_atual|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="id_chip_parceiro" class="form-label">ID da Ave (Chip) (Parceiro Atual):</label>
            {{ form.id_chip_parceiro|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="gaiola" class="form-label">Gaiola:</label>
            {{ form.gaiola|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="sexo" class="form-label">Sexo:</label>
            {{ form.sexo|add_class:"form-select" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="mutacao" class="form-label">Mutação:</label>
            {{ form.mutacao|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="filhotes" class="form-label">Filhotes:</label>
            {{ form.filhotes|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="investidor" class="form-label">Investidor:</label>
            {{ form.investidor|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="preco_compra" class="form-label">Preço de Compra:</label>
            {{ form.preco_compra|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="status" class="form-label">Status:</label>
            {{ form.status|add_class:"form-select" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="preco_venda" class="form-label">Preço de Venda:</label>
            {{ form.preco_venda|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="data_morte" class="form-label">Data de Morte:</label>
            {{ form.data_morte|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="motivo_morte" class="form-label">Motivo da Morte:</label>
            {{ form.motivo_morte|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Salvar</button>
    </div>
    <div class="col-12 text-center">
        <a href="{% url 'listar_aves' %}" class="btn btn-link">Voltar para a lista</a>
    </div>
</form>
{% endblock %}