{% extends 'base.html' %}
{% load form_tags %}

{% block title %}
Cadastrar Novo Investidor
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Cadastrar Novo Investidor</h1>
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="cpf" class="form-label">CPF:</label>
            {{ form.cpf|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="nome_completo" class="form-label">Nome Completo:</label>
            {{ form.nome_completo|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email" class="form-label">E-mail:</label>
            {{ form.email|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="telefone" class="form-label">Telefone:</label>
            {{ form.telefone|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="data_inicio_investimento" class="form-label">Data de Início do Investimento:</label>
            {{ form.data_inicio_investimento|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="filhotes" class="form-label">Filhotes:</label>
            {{ form.filhotes|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="valor_investimento" class="form-label">Valor do Investimento:</label>
            {{ form.valor_investimento|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="aves" class="form-label">Aves:</label>
            {{ form.aves|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="comissao" class="form-label">Comissão (%):</label>
            {{ form.comissao|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="custo_condominio" class="form-label">Custo de Condomínio:</label>
            {{ form.custo_condominio|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="notas_adicionais" class="form-label">Notas Adicionais:</label>
            {{ form.notas_adicionais|add_class:"form-control" }}
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100">Salvar</button>
    </div>
    <div class="col-12 text-center">
        <a href="{% url 'listar_investidores' %}" class="btn btn-link">Voltar para a lista</a>
    </div>
</form>
{% endblock %}