{% extends 'base.html' %}

{% block title %}
Lista de Clientes
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Lista de Clientes</h1>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
            <tr>
                <th>CPF</th>
                <th>Nome Completo</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Aves Compradas</th>
                <th>Data da Compra</th>
                <th>Motivo da Compra</th>
                <th>Preço de Compra</th>
                <th>Notas Adicionais</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.nome_completo }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    {% for ave in cliente.aves_compradas.all %}
                        {{ ave.nome }}<br>
                    {% endfor %}
                </td>
                <td>{{ cliente.data_compra }}</td>
                <td>{{ cliente.motivo_compra }}</td>
                <td>{{ cliente.preco_compra }}</td>
                <td>{{ cliente.notas_adicionais }}</td>
                <td>
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{% url 'deletar_cliente' cliente.id %}" class="btn btn-sm btn-danger">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}